<footer class="page-footer font-small bg-danger pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="rede-social">
                    <li>
                        <a href="https://www.linkedin.com/in/wesley-carlos-cardoso/" target="_blank"
                            class="icoLinkedin">
                            <i class="fa fa-linkedin-square " aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/WesleyCarlos41" target="_blank" class="icoGitHub ">
                            <i class="fa fa-github  " aria-hidden="true"></i>

                        </a>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    <div class="footer-copyringht text-center py-3" style="background-color:#810d0d">
        <h6 class="text-white">Todos os direitor reservados Wesley Carlos &copy;</h6>
        <span class="text-light">&copy; 2022 Copyright: </span>
        <a class="text-light copy" target="_blank" href="https://brazil.generation.org/">generation Brasil</a>
    </div>

</footer>