<footer class="page-footer font-small">
    <div class="footer-copyringht text-center py-1 bg-danger">
        <ul class="rede-social fa">
            <li>
                <a href="https://www.linkedin.com/in/wesley-carlos-cardoso/" target="_blank"
                    class="icoLinkedin">
                    <i class="fa fa-linkedin-square " aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/WesleyCarlos41" target="_blank" class="icoGitHub ">
                    <i class="fa fa-github  " aria-hidden="true"></i>

                </a>
            </li>
        </ul>
        <p>
            <span class="text-light">&copy; Todos os direitor reservados Wesley Carlos <br>
                2022 Copyright: </span>
            <a class="text-light copy" target="_blank" href="https://brazil.generation.org/">generation Brasil</a>
        </p>
    </div>

</footer>